name: Docker image
on:
  pull_request:
  push:
    branches:
      - master
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        export PATH=$PATH:/home/runner/go/bin

    - name: Build
      run: go build -v -a -installsuffix cgo -o app cmd/operator/main.go
      env:
        CGO_ENABLED: 0
        GOOS: linux

    - name: Build the Docker container image
      run: docker build -t docker.pkg.github.com/cbws/etcd-operator/operator:latest .

    - name: Push the image to GPR
      if: github.ref == 'refs/heads/master'
      run: |
        docker login docker.pkg.github.com -u marlinc -p "${GITHUB_PACKAGE_REGISTRY_TOKEN}"
        docker push docker.pkg.github.com/cbws/etcd-operator/operator:latest
      env:
        GITHUB_PACKAGE_REGISTRY_TOKEN: ${{ secrets.GITHUB_PACKAGE_REGISTRY_TOKEN }}